/benchOutput/
/.d8_history
/.ensime
/.metals
/TODO.org
*target/
/project/project
/project/.bloop
/project/metals.sbt
/.bloop
.ensime_cache
*.dot
*.log
.idea/
.DS_Store
/target/
*.csv
*.png
*.svg
/.idea
*.diff
/.vscode
