language: scala
scala:
  - 2.13
jdk:
  - openjdk8

notifications:
  slack: softlab:56TdHAxAGnw63epRiBg52cGA

jobs:
  include:
    - stage: test
      name: "Parser Tests"
      script: sbt "scalaam/testOnly scalaam.test.parser.*"
    - stage: test
      name: "Lattice Tests"
      script: sbt "scalaam/testOnly scalaam.test.lattice.*"
    - stage: test
      name: "Primitive Correctness Tests"
      script: sbt "scalaam/testOnly scalaam.test.language.scheme.*"
    - stage: test
      name: "ModF Soundness Tests"
      script: travis_wait 30 sbt "scalaam/testOnly scalaam.test.soundness.*"

branches:
  only:
    - master
