name: Scala-AM tests on action

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # The compile job fetches the code and attempts to compile it.
  compile:
    name: Compile Scala-AM
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: lokkju/github-action-sbt@v0.2.2
      with:
        commands: compile
  # The test-lattice job executes the lattice tests.
  test-lattice:
    name: Execute lattice tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: scalaam/testOnly scalaam.test.lattice.*
  # The test-R5RS job executes the R5RS tests.
  test-R5RS:
    name: Execute primitive tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: scalaam/testOnly scalaam.test.language.scheme.*
  # The test-parser job executes the parser tests.
  test-parser:
    name: Execute parser tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: scalaam/testOnly scalaam.test.parser.*
  # The test-soundness job executes the soundness tests.
  test-soundness:
    name: Execute soundness tests (using ${{ matrix.test_class }})
    runs-on: ubuntu-latest
    needs: compile
    strategy:
      fail-fast: false
      matrix:
        test_class: [FastBigStepSchemeModFSoundnessTests, FastSmallStepSchemeModFSoundnessTests, FastSimpleAdaptiveSchemeModFSoundnessTests]
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: scalaam/testOnly scalaam.test.soundness.${{ matrix.test_class }}
    
    
